<div class="container sde-container">
    <h1 class="page-title">Software Development Projects</h1>

    <!-- Category Labels -->
  <div class="categories">
    <button (click)="scrollTo('system')" class="category-btn">System</button>
    <button (click)="scrollTo('website')" class="category-btn">Website</button>
    <button (click)="scrollTo('mobile')" class="category-btn">Mobile</button>
  </div>
  
    <div *ngFor="let project of projects; let i = index" [id]="project.category" class="project-card">
        <!-- Project Header -->
      <div class="project-header">
        <h2 class="project-title">{{ project.title }}</h2>
        <a [href]="project.githubLink" target="_blank" rel="noopener noreferrer" class="github-icon">
          <img src="assets/images/github.svg" alt="GitHub Repo">
        </a>
      </div>
  
      <p class="tech-stack">Tech Stack: <span>{{ project.techStack }}</span></p>
  
      <!-- Image Carousel -->
      <div class="carousel-container">
        <button class="carousel-btn left" (click)="prevImage(i)">&#10094;</button>
        <img [src]="project.images[project.currentIndex]" alt="Project Screenshot" class="carousel-image">
        <button class="carousel-btn right" (click)="nextImage(i)">&#10095;</button>
      </div>
  
      <!-- Project Details -->
      <div class="project-details">
        <h3>Project Goal</h3>
        <p>{{ project.goal }}</p>
  
        <!-- Project Description -->
        <h3>Project Description</h3>
        <p [innerHTML]="project.description"></p>
          
          

      </div>
    </div>
  </div>
  