<div class="container text-center mt-5">
  <div class="home-container">
      <p class="intro-text">Hey, there 👋</p>
      <h1 class="main-heading">
        I'm <span class="highlight">Tianyu Fang</span><br>
        a <span class="software-engineer">Software Engineer</span><br>
        and <span class="data-enthusiast">Data Enthusiast</span>
      </h1>
      <p class="sub-text">
        currently seeking co-op/internship opportunities.
      </p>
  </div>
    
  
  
    <h3 class="mt-4">🔥 Tech Stack</h3>
    <div class="d-flex justify-content-center flex-wrap mt-3">
      <span class="badge bg-primary m-2">JavaScript</span>
      <span class="badge bg-success m-2">Angular</span>
      <span class="badge bg-warning text-dark m-2">Python</span>
      <span class="badge bg-info m-2">AWS</span>
      <span class="badge bg-secondary m-2">SQL</span>
    </div>
  
    <div class="mt-4">
        <a href="https://github.com/Tianyu-Fang" class="btn btn-outline-light m-2" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
        <a href="https://www.linkedin.com/in/tianyu-fang-tim/" class="btn btn-outline-light m-2" target="_blank" rel="noopener noreferrer">
          LinkedIn
        </a>
      </div>
      
  </div>
  