/* Default Dark Theme */
body {
    background-color: #121212;
    color: white;
  }
  
  /* Light Theme for Data Analysis Page */
  .light-theme {
    background-color: white;
    color: black;
  }
  